* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem; /* Ajuste de margen para alineación */
}

.books-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  background-color: #fff;
  flex: 1 1 calc(100% - 2rem); /* Por defecto ocupa todo el ancho disponible */
}

.books-card__image {
  max-width: 100%;
  border-radius: 5px;
}

.books-card__title {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.books-card__subtitle {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #666;
}

.books-card__details {
  margin: 15px 0;
}

.books-card__checkbox-label,
.books-card__rating-label {
  display: block;
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
}

.books-card__checkbox,
.books-card__rating-select {
  margin-right: 10px;
}

/* Estilos para pantallas mayores a 768px */
@media (min-width: 768px) {
  .books-card {
    flex: 1 1 calc(45% - 2rem); /* 45% de ancho para cada tarjeta */
    padding: 10px;
  }
}
